* {
  margin: 0px;
  padding: 0px;
}

.topo {
  display: grid;
  grid-template-columns: 11% 100%;
  background: #003d3e;
  align-items: center;
}

.escrita {
  height: 130px;
  width: 90%;
  /* padding: 10px 0px; */
  padding-left: 150px;
}

.logo img {
  border-radius: 0% 0% 10% 10%;
}
body {
  background-color: #02494b;
}
img.escrita {
  width: 50%;
  height: auto;
  margin: auto;
}
.menina {
  width: 200px;
  margin: auto;
}

.menina img {
  width: 100%;
}
